.logo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.logo__img {
  position: absolute;
  width: 50%;
}

.logo__text {
  margin-left: 30%;

  color: @text-main;
}
