// Навигация

//Размер вьюпорта
//Ретина
//Шрифты
//Основные цвета
//Цвет фона
//Цвет границ
//Цвет текста
//Цвет ссылок
// Цвет фона ссылок
// Цвет фона кнопок
// Цвет полей формы
// Тени

//Размер вьюпорта
@mobile-width: 780px;
@desktop-width: 1200px;

//Шрифт
@roboto : "Arial", sans-serif;

//Основные цвета
@dark: #030c17;
@light: #eceaf7;
@white: #ffffff;
@white--opacity: rgba(252, 252, 252, 0.5);
@blue--light: #009eb5;

//Цвет фона
@bg-gradient: linear-gradient(90deg, #fbf9ec 0%, #fbf9ec 80%, #eceaf7 90%, #fbf9ec 100%);
@bg-header: @white;
@bg-img: @dark;
@bg-date: @white;

//Цвет текста
@text-main: @dark;

//Цвет ссылок
@link: @dark;
@link--hover: @blue--light;

//Цвет кнопок
@button-gallery: @white--opacity;

//Цвет границ:
@border-header: @dark;
@border-img: @light;
@border-date: @dark;
